*{
    margin:0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.list-item{
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-item > a{
    text-decoration: none;
    color: black;
}
.list-item:hover {
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
    background-color:black;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-item > a:hover{
    text-decoration: none;
    color: white;
}
div nav{
    display:inline-flex;
    flex: auto;
    flex-direction: row-reverse;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    ri
}

.logo{
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    display: inline;
}